<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Stack Tech Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1><a class="navbar-brand" href="/">Full Stack Tech Blog</a></h1>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <!--uses built-in handlebar #if helper to display logout link if user is logged in and login link if user is not logged in-->
                    {{#if logged_in}}
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none" id="logout" href="#">Logout</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none" id="login" href="/login">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    <main>
    {{{body}}}
    </main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

<!--uses built-in handlebar #if helper so logout.js is only loaded if user is logged in-->
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}

</body>
</html>