<div class="container">
  <h2>Login</h2>
  <form class="form login-form needs-validation">
    <div class="form-group">
      <label for="username-login">Username:</label>
      <input type="text" class="form-control" id="username-login" placeholder="Username" required>
    </div>
    <div class="form-group">
      <label for="password-login">Password:</label>
      <input type="password" class="form-control" id="password-login" placeholder="Password" required>
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
  <a href="/signup">Don't have an account? Sign up here!</a>
</div>

<script src="/js/login.js"></script>