<div class="container">
    <h2>Sign Up</h2>
    <form class="form signup-form needs-validation">
        <div class="form-group">
            <label for="username-signup">Username:</label>
            <input type="text" class="form-control" id="username-signup" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label for="email-signup">Email Address:</label>
            <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp"
                placeholder="Email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password-signup">Password:</label>
            <input type="password" class="form-control" id="password-signup" placeholder="Password" required>
            <small id="emailHelp" class="form-text text-muted">Minimum of 8 characters.</small>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
    <a href="/login">Already have an account? Login here!</a>
</div>

<script src="/js/signup.js"></script>